* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal:'inter';
    --botao-hover: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container_caixa {
    margin: 0 6em;
}

.container_titulo {
    font-size: 28px;
    font-weight: 700;
}

.container_img {
    margin: 16px 0 32px 0;
}

.container_botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 16px;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
}

.container_botao:hover {
    background: var(--botao-hover);
    color: var(--cor-de-fundo);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container_aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container_secundario {
    height: 90vh;
    align-items: center;
    margin: 0 6em;
    display: flex;
}

.img_plataforma {
    width: 50%;
}

.container_descricao {
    padding: 0 90px;
}

.descricao_titulo {
    font-weight: 700;
    font-size: 40px;
    color: var(--branco-principal);
    margin-bottom: 10px;
}

.descricao_texto {
    color: var(--cinza-secundario);
}

.secundario_botao {
    display: inline-block;
    margin-top: 16px;
}

.dispositivos {
    text-align: center;
    height: 90vh;
}

.dispositivos_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivo_tituo {
     font-size: 48px;
    color: var(--branco-principal);
}

.lista_item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin:  0 3em;
}

.rodape_logo {
    margin-bottom:  2em;
}

.rodape_liste {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 2em;
}

.lista_link {
    align-items: center;
}

.lista_link a {
    text-decoration: none;
    font-weight: 400;
    color: var(--branco-principal);
}

.lista_link a:hover {
    color: var(--botao-azul);
}

.rodape_texto {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2em;
    color: var(--cinza-secundario);
}